
 {% extends "base.html" %}


 {% block title  %}
 Eiddi Technology Academy
 {% endblock  %} 


 {% block content %}
 
 <main>
    <form >
        <h1>Contact Us</h1>
          <div class="mb-3">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="mb-3">
      <label for="phone">Phone</label>
      <input type="number" class="form-control" id="phone" name="phone">
    </div>
    <div class="mb-3">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email">
    </div>
    <div class="mb-3">
      <button type="button" class="btn btn-outline-success w-100">
        Submit
      </button>
    </div>

      
    </form>
 </main>
    
 
 {% endblock  %}