
{% extends "base.html" %}
{% block content %}
  <div class="max-w-md mx-auto py-12 px-4">
  <h2 class="text-3xl font-bold mb-6 text-center">Subscribe to our newsletter</h2>

  {% comment %} {% if messages %}
    {% for message in messages %}
      <div class="bg-blue-500 text-white p-4 rounded-md">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %} {% endcomment %}

  <form method="post" action="{% url 'subscribe' %}" class="space-y-4 flex flex-col items-center justify-content-center">
    {% csrf_token %}
    <div class=" space-y-2">
      
    <label for="email" class="block text-sm font-medium text-gray-700">Email address</label>
    <input type="email" id="email" name="email" required
         class="mt-1 block w-full px-4 py-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-indigo-500 focus:border-indigo-500">
    </div>

    <button type="submit" class="w-full bg-indigo-600 text-white py-3 rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
    Subscribe
    </button>
  </form>
  </div>
{% endblock %}